# configure your infura api key (not technically required)
INFURA_API_KEY=

# change the mnemonic that your hd wallet is seeded with
MNEMONIC=

PRIV_KEY='0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80'